:root {
    --seed--color-ui-primary: #576e8e;
    --seed--color-ui-secondary: #1c9797;
    --seed--color-ui-tertiary: #f08b02;
    --seed--color-ui-neutral: #d2d1d1;
    --seed--color-feedback-success: #51af45;
    --seed--color-feedback-warning: #fbbc0f;
    --seed--color-feedback-error: #e6213c;
    --seed--color-feedback-info: #1c9797;
    --seed--font-size: 16px;
    --seed--font-size-scale: 1.2;
    --seed--font-body: Roboto;
    --seed--font-heading: Roboto;
    --seed--spacing: 8px;
    --seed--shape-radius: 4px;
}